p.royal {
    font-size: 20px;
}

p.addUSer {
    font-size: 30px;
}

@media screen and (max-width: 1229px) {
    .userContents table {
        height: 650px;
    }

    .userContents td, .userContents th {
        flex: 1 1 150px;
        border: 1px solid RGB(36, 53, 78, 0.2);
        border-radius: 5px;
        height: 120px;
        margin: 0px;
    }
}

#fromDoctorPage{
    display: none;
}

.tableCon{
    display: none;
}

.userContents td button {
    height: auto;
    padding: 1px;
    text-align: center;
}

.hide{
    display: none;
}

input[type='submit']{
    width: 159px;
    height: 40px;
    background: #24354E;
    border-style: none;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #ADB6CD;
    margin: 10px;
}

input[type='submit']:hover {
    transform: scale(1.125);
}

input[type='submit']:active {
    transform: scale(1.025);
}


td:first-child {
    vertical-align: top;
}

.hint {
    color: #24354E;
    text-align: justify;
    font-weight: bold;
}

.hint li {
    list-style-type: disc;
    margin-left: 15px;
}

td div {
    width: 351px;
}

table {
    max-height: 500px;
    overflow-y: scroll;
}