p.royal {
    font-size: 20px;
}

p.addUSer {
    font-size: 30px;
}

@media screen and (max-width: 1229px) {
    .userContents table {
        height: 650px;
    }
}

.tableCon{
    display: none;
}

.userContents td button {
    height: auto;
    padding: 1px;
    text-align: center;
}

.hide{
    display: none;
}

input[type='submit']{
    width: 159px;
    height: 40px;
    background: #24354E;
    border-style: none;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #ADB6CD;
    margin: 10px;
}

input[type='submit']:hover {
    transform: scale(1.125);
}

input[type='submit']:active {
    transform: scale(1.025);
}


.tableCon{
    display: none;
}

td:first-child {
    vertical-align: top;
}

.hint {
    color: #24354E;
    text-align: justify;
    font-weight: bold;
}

.hint li {
    list-style-type: disc;
    margin-left: 15px;
}

td div {
    width: 351px;
}

table {
    height: 420px;
    overflow-y: scroll;
}