.actorCards{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.actorCards ul{
    position: relative;
    display: flex;
    background-color: var(--secondary-color);
    border-style: none;
    border-radius: 10px;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    /*margin: 50px;*/
    padding: 20px;
    margin: 20px;
    width: 100%;
}

.actorCards ul li{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    font-weight: 600;
    text-align: center;
    transition: 0.4s;
    vertical-align: center;
    font-size: 30px;
    line-height: 37px;
    border-style: none;
    border-radius: 10px;
    width: 200px;
    padding: 35px;
    color: var(--para-color);
}

.actorCards ul li:hover{
    transform: scale(0.9, 0.9);
}

.card-set{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table th,
table td{
    padding: 15px;
}

.appoitmentNum{
    min-height: 200px;
}

.val{
    font-weight: bold;
    font-size: 30px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    text-align: center;
    font-weight: 300;
    transition: 0.4s;
    vertical-align: center;
    font-size: 15px;
    line-height: 37px;
    border-style: none;
    border-radius: 10px;
    min-width: 280px;
    padding: 35px;
    color: var(--para-color);
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: var(--primary-color);
}

.tab-cards:hover, .card:hover{
    transform: scale(1.041);
    box-shadow: 8px 8px 22px var(--dec-color-1), -8px -8px 22px var(--dec-color-1);
}

#second-head{
    margin: 20px;
    font-size: 25px;
    color: var(--para-color);
}

.tab-cards{
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: contain;
}

.dividerA{
    background-color: var(--secondary-color);
    flex: 1;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

.dividerB{
    background-color: var(--secondary-color);
    flex: 2;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

.cardIcon{
    height: 50px;
    width: auto;
}
.graph {
    flex: 1;
    background-color: var(--secondary-color);
    border-style: none;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    /*height: 100px;*/
    /*width: 100px;*/
}

.BundleCard{
    display: flex;
    flex-wrap: wrap;
}

#myChart{
    width: 1229px;
    height: auto;
}

@media screen and (max-width: 1229px) {
    .actorCards ul{
        width: 1400px;
        left: 50%;
        transform: translate(-50%);
    }

    .BundleCard{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .actorCards ul li{
        width: 300px;
    }

    .next {
        height: auto;
    }
}

