.main-container {
    top: 170px;
    min-width: fit-content;
    left: 260px;
    height: 100v;
}
.doctor-cards{
    width: 100%;
    padding: 35px 20px ;
    display: flex;
    flex-direction: row;
}

.doctor-card{
    padding: 20px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    margin: 20px;
}
.card-content{
    background: #fff;
}

.number{
    font-size: 35px;
    font-weight: 500;
    color: #24354E;
}

.card-name {
    color: #24354E;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: black;
}
.icon-box img {
    font-size: 45px;
    color: black;
}
.table-container{
    width: 90%;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}
.table{
    border-collapse: collapse;
    background: #F8F9FF;
    border-radius: 10px;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
}
.table thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background: #24354E;
}
.table tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table th{
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}
.table tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table tbody tr{
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: unset;
    height: 50px;
}
.table th{
    text-align: left;
    padding: 8px 10px;
}

.table td{
    text-align: left;
    padding: 8px 10px;
    background: #fff;
}
/* Responsive */
@media(max-width:500px){
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table td{
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}
