*,
*:before,
*:after {
    box-sizing: border-box;
}

.slider {
    height: 650px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
}

.slider__nav:checked {
    animation: check 1s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
}

.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    transition: left 1s;
    display: flex;
    flex-flow: row nowrap;
}

.slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__image {
    font-size: 2.7rem;
    color: #2196F3;
}

.slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.slider__txt {
    color: #999;
    margin-bottom: 3rem;
    max-width: 300px;
}

.slider-title, .slider-description{
    animation: animation1 2s ease-in 0s 1 normal none;
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes animation1 {
    0% {
        animation-timing-function: ease-in;opacity: 1;transform: translateY(-500px);
    }
    24% {
        opacity: 1;
    }
    40% {
        animation-timing-function: ease-in;transform: translateY(-200px);
    }
    65% {
        animation-timing-function: ease-in;transform: translateY(-150px);
    }
    82% {
        animation-timing-function: ease-in;transform: translateY(-100px);
    }
    93% {
        animation-timing-function: ease-in;transform: translateY(-50px);
    }
    25%,55%,75%,87% {
        animation-timing-function: ease-out;transform: translateY(0px);
    }
    100% {
        animation-timing-function: ease-out;opacity: 1;transform: translateY(0px);
    }
}

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero-section{
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px){
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px){
    .card-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.card{
    list-style: none;
    position: relative;
    height:220px;
    background-color: #f2f8ff;
    border-style: none;
    border-radius: 10px;
}

.card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    background-size: cover;
    background-repeat: no-repeat;
    trsnsform: scale(1) translateZ(0);
    margin: 20px;
    transition:
            filter 200ms linear,
            transform 200ms linear;
}

.card:hover .card__background{
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:hover .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 20%;
}

.card__category{
    color: var(--secondary-color);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading{
    color: var(--secondary-color);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}