.main-container {
    top: 170px;
    min-width: fit-content;
    left: 260px;
    overflow-y: scroll;
}
h3{
    padding: 20px;
    font-size: 15px;
}
.table-container {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 472px;
    overflow-y: scroll;
    max-height: 472px; 
}

.table {
    border-collapse: collapse;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.06);
}
.table thead{
    position: sticky;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background: #e9e9e9;
    border-radius: 20px;
    border-bottom: #A7BBC7;
}
.table tr{
    display: table-row;
    transition: 0.4s;
    background: #f6f6f6;
    vertical-align: inherit;
    border-color: inherit;
    border-top: 1px solid rgba(0,0,0,0.08);
}


.table tr:hover{
    transform: scale(0.97, 0.97);
    background-color: var(--hover-color);
}
.table th{
    font-family: var(--primary-font);
    color: #000;
    font-weight: unset;
    text-align: left;
    padding: 15px 10px;
}
.table tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    overflow-y: hidden;
}
.table tbody tr{
    font-family: var(--primary-font);
    /* font-family: OpenSans-Regular; */
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: unset;
    height: 50px;
}
.table td{
    text-align: left;
    padding: 8px 10px;
    background: #fff;
}
.nursedash-table{
    margin: 0;
}
.nursedash-table td:first-child{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.table td:first-child .right-cell{
    padding:8px;
}
.table td img{
    border-radius: 50%;
}
/* Responsive */
@media(max-width:500px){
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table td{
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}
.prescribe-medicine-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nurse-cards{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}

.nurse-card {
    padding: 20px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    margin: 20px;
}

.number{
    font-size: 35px;
    font-weight: 500;
    color: var(--para-color);
}

.card-name {
    color: var(--para-color);
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: black;
}
.icon-box img {
    font-size: 45px;
    color: black;
}

.popup{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.popup-content{
    height: fit-content;
    width: 30%;
    /* height: 650px;
    width: 650px; */
    background: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
    position: relative;
}
.form-group{
    width: 100%;
}
.remove-daily-report{
    padding: 1em;
    line-height: 1;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background:#6c757d ;
    color: #fff;
    cursor: pointer
}
.add-daily-report{
    padding: 1em;
    line-height: 1;
    border: 1px solid #ffc107;
    border-radius: 3px;
    background: #ffc107;
    color: #fff;
    font-weight: 500;
    cursor: pointer
}
.view-prescription{
    padding: 1em;
    line-height: 1;
    border: 1px solid #00A2ED;
    border-radius: 3px;
    background: #00A2ED;
    color: #fff;
    cursor: pointer
}
.popup-content input{
    width: 80%;
    padding: 1em;
    line-height: 1.4;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    /* margin-top: 20px;
    width: 50%;
    padding: 8px;
    background: #f9f8ff;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    align-items: flex-start; */


    /* display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box; */
}
.popup-content label{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-weight: bold;
    /* margin-right: 20px; */
}
.popup-content h1{
    color: var(--para-color);
    /* font-size: 36px; */
    margin-bottom: 40px;
}
.submit{
    width: fit-content !important;
    font-size: medium !important;
    font-weight: bold;
    padding: 10px 15px;
}

#report-button{
    background: var(--para-color);
    padding: 10px 15px;
    font-size: 15px;
    float: left;
    width: fit-content !important;
}
#report-button a{
    text-decoration: none;
    color: #fff;
}

.patient-details{
    margin-left: 20px;
    font-size: 20px;
}
/* button{
    background-color: var(--para-color);
    font-size: 10px;
    font-weight: normal;
    border-radius: 8px;
    padding: 10px;
    float: right;
    margin: 5px;
    color: #f9f8ff;
    
} */
/* button:hover{
    cursor: pointer;
}
button a{
    color: #f9f8ff;
    text-decoration: none;
} */

.room-cards{
    width: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 585px;
    justify-content: center;
}

.room {
    padding: 20px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    margin: 20px;
}

.room-no{
    font-size: 25px;
    font-weight: 500;
    color: var(--para-color);
}

.room-availability {
    color: var(--para-color);
    font-weight: 600;
}


.table-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 472px;
}

.view-prescription{
    background: #00A2ED;
    color: #FFF;
    cursor: pointer;
    padding: 1em;
    border-radius: 3px;
    line-height: 1;
    border: 1px solid #e5e5e5;
}

select{
    padding: 10px;
    margin-bottom: 10px;
}
select option{
    padding: 5px;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#nurse-view-prescription{
    margin-top: 10%;
}

.table {
    margin: 40px ;
    border-style: none;
    border-radius: 10px;
    overflow: visible;
}
.row.headerT .cell:first-child{
    border-top-left-radius: 10px;
}
.row.headerT .cell:last-child{
    border-top-right-radius: 10px;
}
.row #patient-info-cell{
    display: flex;
    flex-direction: row;
    justify-content: left;
    ;
}
#patient-info-cell img{
    border-radius: 50%;
}
#patient-info-cell .right-cell{
    display: flex;
    flex-direction: column;
}
#patient-info-cell .right-cell .down-cell{
    padding: 0 5px;
    color: #969696;
}
@media screen and (max-width: 1229px) {
    body {
        font-size: 16px;
        line-height: 22px;
    }
}

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 1229px) {
    .table {
        display: block;
        overflow-y: scroll;
    }
}

.row {
    display: table-row;
    transition: 0.4s;
    background: #f6f6f6;
}
.row.headerT{
    transform: none;
}
.row:hover{
    transform: scale(0.97, 0.97);
    background-color: var(--hover-color);
}

/*.row:nth-of-type(odd) {*/
/*    background: #e9e9e9;*/
/*}*/

.row.headerT {
    font-weight: 900;
    color: var(--para-color);
    background: #e9e9e9;
}

@media screen and (max-width: 1229px) {

    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }

    .wrapper button {
        float: none;
    }

    .wrapper {
        margin: 0 auto;
        min-width: 500px;
    }

    .row {
        padding: 14px 0 7px;
        display: block;
    }

    .row.headerT {
        padding: 0;
        height: 6px !important;
    }

    .row.headerT .cell {
        display: none;
    }

}

.row .cell {
    /* margin-bottom: 10px; */
    word-wrap: break-word;
    vertical-align: middle;
}

.profilePic {
    height: 50px;
    width: 50px;
    border-style: none;
    border-radius: 50%;
}

.cell {
    padding: 6px 12px;
    display: table-cell;
    font-size: 18px;
    height: 50px;
}

.nurse_heads{
    margin: 20px;
    font-size: 20px;
    padding: 20px 20pxx;
    text-align: center;
    width: auto;
    border-radius: 10px;
    border-width: 3px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* width */
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F8F9FF;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F8F9FF;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #F8F9FF;
  }
  .bed-button{
    margin-right: 40px !important;
  }