.cards{
    flex-wrap: wrap;
    height: 11%;
    margin-top: -0px;
    margin-left: 50px;
    justify-content: center;
    width: 94%;
    padding: 35px 5px;
    box-sizing: unset;
    display: flex;
    background-color: #ffffff;
    /*margin-top: -300px;*/
    /*margin-left: 70px;*/
    /*width: 80%;*/
    /*padding: 35px 20px ;*/
    /* display: flex;
    flex-direction: row;
    /*display: grid;*/
    /*grid-template-columns: repeat(4, 1fr) ;*/
    /*grid-gap: 10px;*/
}

.card {
    padding: 20px;
    margin: 20px;
    width: 170px ;
    height: 50px ;
    transition: width 0.9s;
    transition: height 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-wrap: wrap;
}

.card:hover{
    border-color:var(--primary-color);
    border-style: groove;
    background-color: #f6f6f6;
    width: 165px;
    height: 48px;
}

.number{
    font-size: 35px;
    font-weight: 500;
    color: var(--para-color);
}

.card-name {
    color: var(--para-color);
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: var(--primary-color);
}
.icon-box img {
    font-size: 45px;
    color: black;
}

.charts {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    
}
.mcontainer .card{
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    /* display: flex;
    flex-direction: row; */
    display: grid;
}


.pay{
    padding: 10px;
    width: 150px;
    height: 40px;
    margin-left: 1100px;
    margin-top: -620px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--para-color);
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.payment a i{
    color: white;
    font-size: 24px;
}

a{
    /* text-decoration: none; */
}

.tcontent{
    width: 1020px;
    height: 500px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.card1{
    grid-template-columns: repeat(1,0px);
    margin-left: 1050px;
    margin-top: 80px;
    padding: 10px;
    width: 190px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card2{
    grid-template-columns: repeat(1,0px);
    margin-left: 1050px;
    margin-top: 20px;
    padding: 10px;
    width: 190px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card3{
    grid-template-columns: repeat(1,0px);
    margin-left: 1050px;
    margin-top: 20px;
    padding: 10px;
    width: 190px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.payment .mtable{
    margin-left: -100px;
    margin-top: 80px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 480px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card1-content,.card2-content,.card3-content{
    font-weight: 700;
}
/* .mtable{
    
    /* width: 80%;
    left: 240px;
    top: 200px; */
.mtable table{
    margin: 40px;
    border-left: 10px;
    color: #F8F9FF;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    background: #F8F9FF;
    border: 1px solid #fff;  
    /* vertical-align: ; */
}

/* table tr:nth-child(even){
    background-color: #f2f2f2;
} */
.mtable table thead{
    background-color: #2b226e;
    padding: 15px;
    
}
.mtable tbody{
    padding: 13px;
}
.mtable tbody tr:hover{
    background-color: #ffffff;
}
.mtable{
    margin-top: 20px;
    transform: translate(-50%, -50%);
    background-color: #f9f8ff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width: 80%;
    left: 240px;
    top: 200px; */
}
table,td,th,tr{
    padding: 15px;
    border: .25px solid lightgray;
    border-collapse: collapse;
    text-align: center;

}
/* table tr:nth-child(even){
    background-color: #f2f2f2;
} */

a button{
    margin-top: -50px;
    margin-left: 1050px;
    width: 100px;
    height: 30px;
    color: #fff;
    padding: 5px;
    font-size: medium;
}
a button i{
    color: #fff;
}

textarea{
    width: 380px;
    height: 80px;
    /* border-radius: 10px; */
    border: 1px solid #ccc;
    /* box-shadow: 0px 4px 4px rgb(0 0 0 / 25%); */
    /* border-radius: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-weight: 500;
    border-radius: 10px;
    border-color: black;
}
#login-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}
form button ,#cancel,#btn {
    width: 129px;
    height: 41px;
    background: var(--para-color);
    border-style: none;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    color: #ADB6CD;
    margin: 10px;
    cursor: pointer;
   
}
.login-form input{
    width: 400px;
    height: 30px;
    border-radius: 10px;

}

.login-form{
    padding: 20px 10px;
    text-align: center;
    background-color: lavender;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom:30px ;

}

.login-form select{
    width: 400px;
    height: 30px;
    border-radius: 10px;
}

.table-box{
    margin-top: 273px;
    width: 500px;
    margin-left: -1400px;
}

.table-box table,th,td,tr{
    border: 0.25px solid lightgray;
    border-collapse: collapse;
    background: var(--para-color);
    text-align: center;
    color: white;
    width: 970px;
}

.userContents  .payment button{
    width: 200px;
    height: 50px;
    background: var(--para-color);
    color: #ADB6CD;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    vertical-align: middle;
    border-radius: 50px;
    margin: 20px;
    border-style: none;
    float: right;
    cursor: pointer;
}
.mcontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: unset;
    width: 1245px;
    margin: 20px 20px 50px 50px;
    position: relative;
}

.pcontent{
    padding: 10px 10px;
    /*margin-top: 18px;*/
    display: flex;
    /*margin-left: 50px;*/
    float: left;
    height: 590px;
    width: 18%;
    flex: 1;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.pcontent .pulse{
    text-align: left;
    /* margin-top: 20px; */
    padding: 10px 10px;
    width: 220px;
    height: 90px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: start;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.pcontent .weight{
    text-align: left;
    /* margin-top: 20px; */
    padding: 10px 10px;
    width: 220px;
    height: 90px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: start;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.pcontent .height{
    text-align: left;
    padding: 10px 10px;
    width: 220px;
    height: 90px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: start;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.pcontent .h-icon img{
    text-align: right;
    width: 46%;
    display: flex;
    justify-content: center;
    size: 75px;
    font-size: 75px;
    flex-wrap: wrap;
}


.pcontent .w-icon img{
    
    width: 46%;
    display: flex;
    justify-content: center;
    size: 75px;
    font-size: 75px;
    flex-wrap: wrap;
}


.pcontent .p-icon img{
    text-align: right;
    width: 46%;
    display:flex;
    justify-content: center;
    size: 75px;
    font-size: 75px;
    flex-wrap: wrap;
    text-align: -webkit-auto;
}

.pcontent .w-icon,.p-icon,.h-icon, .ce a{
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
    color: cadetblue;
}

.pcontent .val{
    font-size: 32px;
    width: 0px;
    /* height: 0px; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    float: left;
    text-align: left;
    /* padding: 34px; */
    padding: 50px;
}

.chart{
    display: flex;
    /* position: absolute; */
    width: 370px;
    flex: 1;
    height: 232px;
    margin: 50px 0px;
    background-color: white;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /*font-family: "Manrope", sans-serif;*/
  background: #ededed;
}

.calendar {
  max-width: 300px;
  margin: 30px auto;
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 3px #dadada;
}

.calendar .calendar-dates,
.calendar .calendar-day-name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px;
}

.calendar .calendar-dates-day {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  border: 1px solid #efefef;
  padding: 4px;
  box-sizing: border-box;
  background: #f8f8f8;
  border-radius: 4px;
  color: #333;
}

.calendar .calendar-dates-day-empty {
  background: none;
  border: 0;
  color: #dcdcdc;
  min-height: 28px;
}

.calendar .calendar-day-name div {
  text-align: center;
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 700;
}

.calendar .calendar-title {
  padding-bottom: 16px;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
}

.calendar .calendar-dates-day.today-date {
  background: #555;
  color: #fff;
}

.calendar #prevMonth,
.calendar #nextMonth,
.calendar #today {
  padding: 2px 6px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
}

.calendar #today {
  font-size: 13px;
}

.calendar .calendar-title-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.calendar .calendar-button-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

  