.doctor-note-container{
    width: 70%;
    margin-bottom: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    background: #FFF;
}
.prescription-container{
    width: 80%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    padding: 30px ;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    background: #FFF;
}
.tab-line{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    padding: 5px 0;
    height: fit-content;
}
.medicine-button{
    /* border: 2px solid var(--para-color); */
    padding: 5px;

}
.test-button{
    /* border: 2px solid var(--para-color); */
    margin-left: 5px;
    padding: 5px;
}

.prescription-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.prescription-group input{
    padding: 1em;
    line-height: 1;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}
.prescription-group label{
    margin-top: 20px;
    margin-right: 20px;
    font-weight: normal;
}
.prescribe-medicine-content{
    display: flex;
    flex-direction: column;
}
.prescribe-medicine-content form{
    width: 100%;
}
.prescribe-medicine-content .first-row {
    display: flex;
    flex-direction: row;
    width: 80%;
    /* border: 1px solid gray; */
    /* padding: 5px; */
}
.prescribe-medicine-content .second-row {
    display: flex;
    flex-direction: row;
    width: 80%;
    /* border: 1px solid gray; */
}
.prescribe-medicine-content .third-row{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.prescribe-medicine-content .form-middle{
    /* margin-top: 5%; */
    display: flex;
    flex-direction: row;
    padding: 2%;
}
.prescribe-medicine-content .form-middle img{
    width: 35px;
    height: 35px;
    color: #D6EEEE;
    padding: 0;
}
.prescribe-medicine-content .first-row .form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    /* border: 1px solid gray; */
}
.prescribe-medicine-content .second-row .form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    /* border: 1px solid gray; */
}
.prescribe-medicine-content .third-row .form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    /* border: 1px solid gray; */
}
.prescribe-medicine-content input{
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    line-height: 1;
    background-color: #fff;
}

.prescribe-medicine-content .form-middle table{
    width: 80%;
    padding: 10px;
    border-collapse: collapse;
}
.prescribe-medicine-content .form-middle table thead th{
    padding: 10px 20px;
    background: var(--hover-color);
}
.prescribe-medicine-content .form-middle table tbody tr{
    border-bottom: 1px solid gray;
}

.prescribe-medicine-content .form-middle table tbody td input{
    border-style: none;
    width: 100%;
}
.prescribe-test-content{
    display: none;
}
.medicine-button{
    border-right: 1px solid gray;
}
.medicine-button:hover{
    border-bottom: 2px solid var(--para-color);
    cursor: pointer;
    
}
.test-button:hover{
    cursor: pointer;
}
.container{
    border-bottom: 2px solid var(--para-color);
}
#addRowButton{
    margin-left: 15px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  ul{
    list-style: none;
  }
  .list{
    background-color: aquamarine;
    border-radius: 0 0 5px 5px;
  }
  .list-items{
    padding: 10px 5px;
  }
  .list-items:hover{
    background-color: bisque;
  }
  .addPrescription-button{
    color: #FFF;
    background: #00A2ED;
    padding: 5px 10px;
    border-radius: 5px;
  }