@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

/* @import url(https://kinsta.com/blog/web-safe-fonts/#23-microsoft-sans-serif);
@import url(https://kinsta.com/blog/web-safe-fonts/#28-segoe-ui); */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html,
body {
    background-color: #f8f9ff;
}
.Form{
    margin-top: 10px;
    margin-left: 20px;
    height: 2030px;
    width: 1400px;
    background-color: #fff;
    border-radius: 15px;
    padding-left: 40px;
    border-color: #24354E;
    border: .025px solid #000000 ;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.heading{
    background-color: #f8f9ff;
    width: 100%;
    height: 50px;
    margin-left: 60px;
    /* border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px; */
    
}

h3{
    margin-top: 20px;
    margin-left: 650px;
}

input[type=text],input[type=date],input[type=password],input[type=email]{
    width: 530px;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}

textarea{
    width: 530px;
    height: 80px;
    border-radius: 10px;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-weight: 500;
}
select{
    width: 553px;
    height: 33px;
    border-radius: 10px;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}

#msg{
    width: 530px;
    height: 150px;
    border-radius: 10px;
    border-color: #24354E;
    position: absolute;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}

#btn{
    border-radius: 15px;
    margin-top: -40px;
    margin-left: 210px;
    height: 35px;
    width: 120px;
    background-color: #24354E;
    color: white;
    border-color: #f9f7ff;
    font-weight: 500;
}
/* 
button:hover{
    background-color: #24354E;
    color: white;
} */


.footer {
    background-color: #24354E;
    padding: 43px 0;
    margin-top: 10px;
    text-align: left;
}

.footer-col {
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ADB6CD;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col img {
    width: 60px;
}

.slogen {
    padding: 10px 0;
    text-align: left;
    font-size: 16px;
    text-transform: capitalize;
    color: #ADB6CD;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

#one {
    min-width: 50%;
    max-width: 100%;
    align-items: flex-start;
    text-align: left;

}

#two {
    min-width: 25%;
    max-width: 100%
}

#three {
    min-width: 25%;
    max-width: 100%
}

.txt {
    padding: 50px 0;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ADB6CD;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a,
.footer-col p,
.footer-col li {
    font-size: 16px;
    text-transform: capitalize;
    color: #ADB6CD;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ADB6CD;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #24354E;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ADB6CD;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #ADB6CD;
    background-color: #24354E;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 33%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}