*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    /* background-color: #F8F9FF; */
    background-color: #fff;
    height: 100%;
}
.sidebar {
    width: 260px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #24354E;
    overflow-x: hidden;
}

.sidebar-name {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}
.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
    list-style: none;
}
/* .sidebar-menu ul li:hover{
    background: #F8F9FF;
    
} */

.sidebar-menu li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 40px;
    display: flex;
    /* font-size: 1.1rem; */
    align-items: center;
}
.sidebar-menu li i{
    padding-right: 20px;
}

/* li:hover a{
    padding-left: 10px;
} */
.container{
    background-color: #f9f8ff;
    width: fit-content;
    padding: 10px;
    position: absolute;
}
.main-container {
    position: absolute;
    top: 60px;
    /* top: 0; */
    /* width: 100%; */
    width: calc(100% - 260px);
    left: 260px;
    height: 100%;
    background-color: #F8F9FF;
}

.cards{
    width: 100%;
    padding: 35px 20px ;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-gap: 10px;
}

.card {
    padding: 20px;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.number{
    font-size: 35px;
    font-weight: 500;
    color: #24354E;
}

.card-name {
    color: #24354E;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: black;
}
.icon-box img {
    font-size: 45px;
    color: black;
}

.charts {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    
}

.chart {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
    background-color: #fff;
}
form{
    background: #F8F9FF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.form-group{
    margin: 10px;
    padding: 10px;
}
.form-group input{
    background:#EFEFEF ;
    border: #EAEAEA;
    padding: 10px;
    border-radius: 15px;
}

/* .form-control{
    background-color: #fff;
    
} */
.table{
    transform: translate(-50%, -50%);
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    /* width: 80%;
    left: 240px;
    top: 200px; */
}
table{
    margin: 40px;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    background: #F8F9FF;
    border: 1px solid #fff;  
    /* vertical-align: ; */
}
table th,td{
    padding: 13px;
}
/* table tr:nth-child(even){
    background-color: #f2f2f2;
} */
table thead{
    background-color: #EAEAEA;
    padding: 10px;
    
}
tbody tr:hover{
    background-color: #EFF5F5;
}



button{
    background-color: #24354E;
    font-size: 17px;
    border-radius: 8px;
    padding: 10px;
    float: right;
    margin: 10px;
    
}
button a{
    color: #f9f8ff;
    text-decoration: none;
}

.room-cards{
    width: 100%;
    padding: 35px 20px ;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-gap: 20px;
}

.room {
    padding: 20px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.room-no{
    font-size: 25px;
    font-weight: 500;
    color: #24354E;
}

.room-availability {
    color: #24354E;
    font-weight: 600;
}




/* .main{
    position: absolute;
    width: calc(100% -300px);
    left: 300px;
    min-height: 100vh;
    background: #f8f9ff;
    transition: 0.5s;
} */

.top-bar{
    position: absolute;
    width: calc(100% - 260px);
    left: 260px;
    background: pink;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}
.toggle{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    font-size: 2.5rem;
    cursor: pointer;
}

.toggle i{
    text-align: center;
    font-size: 30px;
    color: black;
}
/* .toggle::before{
    
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    color: black;
} */
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;

}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid rgba(0, o, 0,0.2);
}

/* .user{
    position: relative;
    right: 20px;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
} */

.user{
    
    position: absolute;
    top: 0;
    right: 100px;
    width: 150px;
    /* width: 0px;
    height: 50px; */
    /* border-radius: 50px; */
}

.user img{
    position: absolute;
    border-radius: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .user-role{
    right: 0;
    font-size: 20px;
    font-weight: 500px;
}

.user-name{
    right: 0;
    font-size: 20px;
    font-weight: 600px;
} */
.mcontainer{
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    left: 260px;
    height: 100%;
    background-color: #F8F9FF;

}
.mcontainer .cards{
    margin-top: 10px;
    width: 50px;
    padding: 15px 20px ;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(4,260px) ;
    grid-gap: 10px;
}
.mcontainer .card{
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    /* display: flex;
    flex-direction: row; */
    display: grid;
}


.pay{
    padding: 10px;
    width: 150px;
    height: 40px;
    margin-left: 1100px;
    margin-top: -620px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #24354E;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.payment a i{
    color: white;
    font-size: 24px;
}

a{
    text-decoration: none;
}

.tcontent{
    width: 1020px;
    height: 500px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    display: flex;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.card1{
    grid-template-columns: repeat(1,0px);
    margin-left: 1050px;
    margin-top: 80px;
    padding: 10px;
    width: 190px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}
.card2{
    grid-template-columns: repeat(1,0px);
    margin-left: 1050px;
    margin-top: 20px;
    padding: 10px;
    width: 190px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}
.card3{
    grid-template-columns: repeat(1,0px);
    margin-left: 1050px;
    margin-top: 20px;
    padding: 10px;
    width: 190px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.payment .mtable{
    margin-left: -100px;
    margin-top: 80px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 480px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.card1-content,.card2-content,.card3-content{
    font-weight: 700;
}
/* .mtable{
    
    /* width: 80%;
    left: 240px;
    top: 200px; */
.mtable table{
    margin: 40px;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    background: #F8F9FF;
    border: 1px solid #fff;  
    /* vertical-align: ; */
}
.mtable table th,td{
    padding: 13px;
}
/* table tr:nth-child(even){
    background-color: #f2f2f2;
} */
.mtable table thead{
    background-color: #EAEAEA;
    padding: 15px;
    
}
.mtable tbody tr:hover{
    background-color: #EFF5F5;
}