@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);
/* @import url(https://kinsta.com/blog/web-safe-fonts/#23-microsoft-sans-serif);
@import url(https://kinsta.com/blog/web-safe-fonts/#28-segoe-ui); */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html,
body {
    height: 100%;
    background-color: #fff;
}

/* b{
    text-align: center;
    display: block;
} */

.header {
    min-height: 100vh;
    width: 100%;
}

.footer{
    min-height: 300vh;
    width: 100%;
}

nav {
    display: flex;
    position: sticky;
    top: 0px;
    /* width: 100%; */
    padding: 2% 6%;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    background-color: #24354E;
}

nav img {
    width: 50px;
    vertical-align: middle;
    /* border-style: solid; */
}

footer img{
    width: 50px;
    vertical-align: middle;
}

.container{
    margin-top: 40px;
    background-color: #24354E;
}

.footer-col{
    margin-left: 1200px;
}
footer p{
    /* margin-top: 30px; */
    display: inline;
}
nav p,
nav a {
    display: inline;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 8px;
    position: relative;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

label{
    font-weight: 600;
}

.Form{
    margin-top: 10px;
    margin-left: 450px;
    height: 700px;
    width: 600px;
    background-color: #fefefe;
    border-radius: 15px;
    padding-left: 40px;
    border-color: #24354E;
    border: .5px solid #000000 ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heading{
    background-color: #f9f7ff;
    width: 100%;
    height: 50px;
    /* border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px; */
    
}

h3{
    margin-top: 20px;
    margin-left: 650px;
}

input{
    width: 530px;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}
label{
    font-weight: 200;
}
textarea{
    width: 530px;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-weight: 500;
}
select{
    width: 553px;
    height: 33px;
    border-radius: 10px;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}

#msg{
    width: 530px;
    height: 150px;
    border-radius: 10px;
    border-color: #24354E;
    position: absolute;
    background: #FFF;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}

#btn{
    border-radius: 15px;
    margin-top: 180px;
    margin-left: 210px;
    height: 35px;
    width: 120px;
    background-color: #24354E;
    color: white;
    border-color: #f9f7ff;
    font-weight: 500;
}
/* 
button:hover{
    background-color: #24354E;
    color: white;
} */